<div *ngIf="questions">
  <form [formGroup]="questionForm">
    <div *ngFor="let question of questions" class="form-row">
      <app-questionnaire-form-question [question]="question" [questionForm]="questionForm"></app-questionnaire-form-question>
    </div>
    <div class="form-row">
      <button
        class="button"
        type="submit"
        [disabled]="!questionForm.valid"
        routerLink="/debrief"
        (click)="onSubmit()"
      >Submit</button>
    </div>
  </form>
</div>
