<div id="project" class="page">
  <h1 class="heading">Uh-oh!</h1>
  <div class="page_body">
    <p>
      According to our records, it looks like you've already participated in this experiment! Although we appreciate your willingness to help, it would skew our data set to have you in there multiple times. If you believe you have received this message in error, please contact <a href="Denton_Wood@baylor.edu">Denton Wood</a> to resolve this issue.
    </p>
  </div>
</div>
