/* You can add global styles to this file, and also import other style files */
#project.page {
  font-family: 'Trebuchet MS', "Helvetica", "sans-serif";
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button {
  height: 40px;
  font-size: 15px;
  margin-top: 15px;
}

.heading {
  background: forestgreen;
  color: white;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.page_body {
  margin-left: 20px;
  margin-right: 20px;
}
