<div id="project" class="page">
  <h1 class="heading">Sign Up for Flipper!</h1>
  <div class="page_body">
    <p style="margin-bottom: 25px">Welcome to Flipper! We just need a few pieces of information from you, and you're ready to start flipping!</p>
    <app-signup-form></app-signup-form>
  </div>
</div>
