<form>
  <div class="form-group">
    <h3>Your Information</h3>
    <div style="margin-left: 20px">
      <label>
        First Name
        <input type="text" class="form-control">
      </label><br/>
      <label>
        Last Name
        <input type="text" class="form-control">
      </label><br/>
      <label>
        Email
        <input type="text" class="form-control">
      </label><br/>
      <label>
        Phone Number
        <input type="text" class="form-control">
      </label><br/>
    </div>
  </div>
  <div class="form-group">
    <h3>Your Credentials</h3>
    <div style="margin-left: 20px">
      <label>
        Username
        <input type="text" class="form-control">
      </label><br/>
      <label>
        Password
        <input type="password" class="form-control">
      </label><br/>
      <label>
        Confirm Password
        <input type="password" class="form-control">
      </label><br/>
    </div>
  </div>
  <div *ngIf="trialNum === 0; else elseBlock">
    <p>
      By clicking "Continue", you indicate your agreement to have your data processed by our <a routerLink="/privacy-policy">Privacy Policy</a>.
    </p>
    <button class="button" routerLink="/questionnaire-intro">Continue</button>
  </div>
  <ng-template #elseBlock>
    <button class="button" routerLink="/privacy-policy">Continue</button>
  </ng-template>
</form>
