<div id="project" class="page">
  <h1 class="heading">Part 2: Questionnaire</h1>
  <div class="page_body">
    <p>Thank you for participating in the simulation! You will now fill out a brief questionnaire regarding Flipper's privacy policy. Please do not use your browser's back button to check your work - just answer as best you can remember (even if you didn't read the policy). Press the button below to continue.</p>
    <button class="button" routerLink="/questionnaire">Continue</button>
  </div>
</div>
