.welcome {
  text-align: center;
}

.divider {
  height: 10px;
  background: #e2c200;
  margin-top: 30px;
  margin-bottom: 50px;
}

.title {
  text-align: center;
}

.subheading {
  text-align: center;
  background: forestgreen;
  vertical-align: center;
  padding: 15px;
  color: white;
}

.text {
  margin-left: 20px;
  margin-right: 20px;
}
