<div id="project" class="page">
  <div class="welcome">
    <h1>Welcome to my study!</h1>
    <p>Please read the consent form below. If you agree to participate in the study, please select the box at the bottom of the page and click "Begin Study."</p>
  </div>
  <div class="divider"></div>
  <div class="title">
    Baylor University<br />
    <strong>Department of Computer Science</strong><br />
    <h1>Consent Form for Research</h1><br/>
  </div>
  <div>
    <p>PROTOCOL TITLE: <strong>Revamping the Privacy Policy: A Study on Informed Consent and User Interactions</strong><br/>
      PRINCIPAL INVESTIGATOR: <strong>Denton Wood</strong></p>
  </div>
  <div>
    <h2 class="subheading">Invitation to be a part of a research study</h2>
    <div class="text">
      <p>
        You are invited to be part of a research study. This consent form will help you choose whether or not to participate in the study. Feel free to ask if anything is not clear in this consent form.
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">Why is this study being done?</h2>
    <div class="text">
      <p>
        The purpose of this study is to understand how the format of privacy policies influences how well people understand them. In light of recent data privacy events such as the Facebook-Cambridge Analytica scandal and the launch of the European Union’s General Data Protection Regulation, we want to understand how companies can improve their privacy policies to help users understand what is happening with their data.
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">What will happen if I take part in this research study?</h2>
    <div class="text">
      <p>
        If you agree to take part in this study, you will be asked to “sign up” for a faux social media service. There will be fields to supply personal information (such as name, address, email, etc.) None of this data will be collected or impact the study results. This process should take approximately 5-10 minutes. Afterwards, you will be given a brief questionnaire which should take approximately 5-10 minutes.
      </p>
      <p>
        We will assign you by chance (like a coin toss) to one of four study groups. The difference in activities between the groups is intentionally being withheld to ensure that the study is valid. You and the researcher cannot choose your study group.  You will have an equal chance of being assigned to either study group.
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">How long will I be in this study and how many people will be in the study?</h2>
    <div class="text">
      <p>
        Participation in this study will last approximately 20 minutes. About 400 subjects will take part in this research study.
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">What are the risks of taking part in this research study?</h2>
    <div class="text">
      <p>
        Other than potential loss of confidentiality, as discussed below, there are no foreseeable risks to taking part in this study. However, as part of this research, you will not be told about some of the study details. If you were told these details at the beginning of the study, it could change the research results. If you decide to be part of the study, you will be given an explanation of what information was withheld from you at the end of your study participation.
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">Are there any benefits from being in this research study?</h2>
    <div class="text">
      <p>
        Although you will not directly benefit from being in this study, others might benefit because the goal of the study is to encourage companies to change the way they present privacy policies in such a way as to increase user understanding.
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">How Will You Protect my Information?</h2>
    <div class="text">
      <p>
        A risk of taking part in this study is the possibility of a loss of confidentiality. Loss of confidentiality includes having your personal information shared with someone who is not on the study team and was not supposed to see or know about your information. The researcher plans to protect your confidentiality.
      </p>
      <p>
        We will keep the records of this study confidential by collecting no personally identifying information other than the IP address of your computer. We are doing this to ensure that people do not participate in the study twice, and this identifier will be deleted from the data once the study is complete (your data will then only be identified by a random number). The data that we do collect will be stored on password-protected computers and only be transferred using encrypted transfer. We will make every effort to keep your records confidential. However, there are times when federal or state law requires the disclosure of your records.
      </p>
      <p>
        The following people or groups may review your study records for purposes such as quality control or safety:
      </p>
      <ul>
        <li>Representatives of Baylor University and the BU Institutional Review Board</li>
        <li>Federal and state agencies that oversee or review research (such as the HHS Office of Human Research Protection or the Food and Drug Administration)</li>
      </ul>
      <p>
        The results of this study may also be used for teaching, publications, or presentations at professional meetings. If your individual results are discussed, your identity will be protected by using a code number or pseudonym rather than your name or other identifying information.
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">Will I be compensated for being part of the study?</h2>
    <div class="text">
      <p>
        You will not be paid for taking part in this study.
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">Your Participation in this Study is Voluntary</h2>
    <div class="text">
      <p>
        Taking part in this study is your choice.  You are free not to take part or to withdraw at any time for any reason.  No matter what you decide, there will be no penalty or loss of benefit to which you are entitled.  If you decide to withdraw from this study, the information that you have already provided will be kept confidential. You cannot withdraw information collected prior to your withdrawal.
      </p>
      <p>
        If you are a Baylor student or faculty/staff member, you may choose not to be in the study or to stop being in the study before it is over at any time.  This will not affect your grades or job status at Baylor University.  You will not be offered or receive any special consideration if you take part in this research study.
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">Contact Information for the Study Team and Questions about the Research</h2>
    <div class="text">
      <p>
        If you have any questions about this research, you may contact:
      </p>
      <p>
        Denton Wood<br/>
        Phone: (270) 508-0728<br/>
        Email: <a href="mailto:Denton_Wood@baylor.edu">Denton_Wood@baylor.edu</a><br/>
      </p>
      <p>Or</p>
      <p>
        Dr. Richard Sneed<br/>
        Phone: (254) 710-4227<br/>
        Email: <a href="mailto:Richard_Sneed@baylor.edu">Richard_Sneed@baylor.edu</a><br/>
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">Contact Information for Questions about Your Rights as a Research Participant</h2>
    <div class="text">
      <p>
        If you have questions about your rights as a research participant, or wish to obtain information, ask questions, or discuss any concerns about this study with someone other than the researcher(s), please contact the following:
      </p>
      <p>
        Baylor University Institutional Review Board<br/>
        Office of Research Compliance<br/>
        Phone: 254-710-3708<br/>
        Email: <a href="mailto:irb@baylor.edu">irb@baylor.edu</a><br/>
      </p>
    </div>
  </div>
  <div>
    <h2 class="subheading">Your Consent</h2>
    <div class="text">
      <h3>Signature of Subject</h3>
      <p>
        By checking the box below, you are agreeing to be in this study. You are free to print this document for your records. We will keep a copy with the study records.  If you have any questions about the study after you sign this document, you can contact the study team using the information provided above.
      </p>
      <form>
        <input type="checkbox" [checked]="consent" (change)="consent = !consent">
        <label>&nbsp;I understand what the study is about and my questions so far have been answered. I agree to take part in this study.</label><br/><br/>
        <button
          class="button"
          [disabled]="!consent"
          routerLink="/welcome"
          (click)="onClick()"
        >Begin Study</button>
      </form>
    </div>
  </div>
</div>
