<div [formGroup]="questionForm">
  <label [attr.for]="question.key">{{(question.key) + ". " + question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
           [id]="question.key" [type]="question.type">

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <div *ngSwitchCase="'radio'">
      <ng-container *ngFor="let opt of question.options">
        <label>
          <input
            type="radio"
            [name]="question.key"
            [formControlName]="question.key"
            [value]="opt.id">
          {{opt.text}}
        </label>
        <br/>
      </ng-container>
      <br/>
    </div>
  </div>
</div>
