<div id="project" class="page">
  <h1 class="heading">Debrief</h1>
  <div class="page_body">
    <p>Thank you for participating in my study! This study is meant to research the effects of different ways of presenting the privacy policy on user understanding of the policy. There are two main factors I am studying:
    </p>
    <ol>
      <li>Whether the policy is put in front of you, as opposed to being accessible through a link</li>
      <li>The medium in which the policy was presented to you</li>
    </ol>
    <p>
      When you entered the study, you were split into one of four groups. Groups 1 and 2 were testing the first factor. When members of Group 1 accessed the sign-up form, there was a link to view the privacy policy right above the "Submit" button. If you didn't click the link, however, you didn't see the policy. When Group 2 hit the submit button, the privacy policy was placed in front of them, and they had the opportunity to read it.
    </p>
    <p>
      Groups 3 and 4 were testing the second factor. Group 3's privacy policy was your average text-based privacy policy. Group 4, however, got access to a video policy that explained Flipper's policies with whiteboard drawings.
    </p>
    <p>You were in Group {{trialNum + 1}}. If you missed the video policy and would like to view it, you can find it <a href="https://youtu.be/74tQEjTUfSo" target="_blank">here.</a></p>
    <p>
      All four groups received the same questionnaire afterward. The questionnaire is being used as a measure of how well you understood the policy. As I review the results, I will be analyzing which group in each pair got the most questions right on the questionnaire. My hypothesis is that Groups 2 and 4 will have a greater understanding of the privacy policy than Groups 1 and 3.
    </p>
    <p>
      Thank you again for helping me with my research. If you have any questions about my methods, how I'm storing the experiment data, etc., you are certainly welcome to contact me at <a href="mailto:Denton_Wood@baylor.edu">Denton_Wood@baylor.edu</a>. Otherwise, you are done with the study, and I wish you a wonderful rest of your day!
    </p>
  </div>
</div>
