<div>
  <p>You may view our privacy policy by watching the video below.</p>
  <youtube-player
    [videoId]="id"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
  ></youtube-player>
</div>
