<div id="project" class="page">
  <h1 class="heading">Welcome!</h1>
  <div class="page_body">
    <p>
      This study consists of two parts. Click the button below to begin Part 1. Please do not use your browser's "Back" or "Refresh" buttons during the study, as they could interfere with the study interface.
    </p>
    <button class="button" routerLink="/sign-up-intro">Continue</button>
  </div>
</div>
