<div id="project" class="page">
  <h1 class="heading">Uh-oh!</h1>
  <div class="page_body">
    <p>
      Looks like you got here by accident! Make sure you don't refresh your browser when you're going through the experiment. Click the button below to go back to the consent form and try again.
    </p>
    <button class="button" routerLink="/">Go Back</button>
  </div>
</div>
