<div id="project" class="page">
  <h1 class="heading">Part 1: Simulation</h1>
  <div class="divider"></div>
  <div class="page_body">
    <p>Please read the following scenario and do your best to act like it is happening to you.</p>
    <p style="margin-left: 30px"><em>
      Your friends have been raving about a new social media site called "Flipper" and are insisting you sign up for an account right now. Flipper, it turns out, is a site designed to help people with common interests meet. Users list their interests and post pictures, videos, and text related to those interests. Users also maintain a list of "friends," and Flipper scans the friends of a user's friends to find matching interests. If a match is found, users are encouraged to exchange, or "flip," friends for a short time. The example given by Flipper's home page is two friends, Gennie and Clay. Gennie enjoys rock-climbing, and so does Clay's friend Peter. Clay, however, enjoys running, and so does Gennie's friend Rachel. Flipper asks Gennie and Clay to flip friends for a bit - Gennie gets to know Peter, and Clay gets to know Rachel. If either pair enjoys the conversation, they can opt to become friends. You are interested, and you decide to try the service.
    </em></p>
    <p>
      On the next 1-2 pages, you will "sign up" for Flipper.
    </p>
    <p><strong>No data you enter in the sign-up process will be stored</strong>. The only piece of identifying information I will have for you is your IP address, and that will  be removed from the data when the study is complete. Please feel free to enter whatever you like in these fields - their sole purpose is to simulate a sign-up process for a real social media service.
    </p>
    <button class="button" routerLink="/sign-up">Continue</button>
  </div>
</div>
