<div id="project" class="page">
  <h1 class="heading">Privacy Policy</h1>
  <div class="page_body">
    <div *ngIf="trialNum === 3; else elseBlock">
      <app-video-privacy-policy></app-video-privacy-policy>
    </div>
    <ng-template #elseBlock>
      <app-text-privacy-policy></app-text-privacy-policy>
    </ng-template>
    <br/>
    <button class="button" routerLink="/questionnaire-intro">Continue</button>
  </div>
</div>
