<div id="project" class="page">
  <h1 class="heading">Questionnaire</h1>
  <div class="page_body">
    <p>
      Please answer the following questions regarding Flipper's privacy policy. When you are finished, click the "Submit" button at the bottom of the page. The questionnaire may take a second to load.
    </p>
    <br />
    <app-question-form></app-question-form>
  </div>
</div>
